modules = ["nodejs-20", "web", "postgresql-16", "bun"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34949
externalPort = 8008

[[ports]]
localPort = 35121
externalPort = 6800

[[ports]]
localPort = 36937
externalPort = 5173

[[ports]]
localPort = 37783
externalPort = 6000

[[ports]]
localPort = 38431
externalPort = 3002

[[ports]]
localPort = 40535
externalPort = 4200

[[ports]]
localPort = 41755
externalPort = 3000

[[ports]]
localPort = 42589
externalPort = 3003

[[ports]]
localPort = 45027
externalPort = 3001

[[ports]]
localPort = 45511
externalPort = 8000

[[ports]]
localPort = 46357
externalPort = 5000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/server/node-build.mjs"]
build = ["bun", "run", "build"]
